<div class="item-list-container">
    <h1 class="titulo-importante">Bienvenidos al CHAT de Coder!</h1>
    <div class="text-center mb-1">
        <div>
            <label>Mensaje:</label>
            <input type="text" id="chatBox" class="form-control my-2" name="chatBox" required>
        </div>
        <div>
            <p id="messageLogs"></p>
        </div>
    </div>
</div>