<div class="my-5 ms-5">
    <h1 class="titulo-importante">Bienvenido {{user.firstName}} {{user.lastName}}</h1>
    <h2 class="p-1 mt-1 mb-1 ">Datos del perfil:</h2>
    <div class="p-1 mt-1 mb-1">Edad: {{user.age}}</div>
    <div class="p-1 mt-1 mb-1">Email: {{user.email}}</div>

    <a href="/">
        <button type="submit" class="btn btn-info text-decoration my-5 ms-5 text-center">Inicio</button>
    </a>
</div>