<div class="container col-md-5">
    <h1 class="titulo-importante">Reset Password</h1>
    <form action="/api/sessions/reset_password/{{token}}" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_email">Email:</label>
        <input type="email" name="email" class="form-control my-2" id="_email" value="{{email}}"/>

        <label for="_pass">New Password:</label>
        <input type="password" name="password" class="form-control my-2" id="_pass" required/>

        <button type="submit" class="btn btn-info text-decoration text-center">Reset password</button>
    </form>
</div>